<mat-toolbar color="primary" class="navbar" >
  
    <div [style.color]="'#66FCF1'" class='logo'><a>myref.com</a></div>
    <div [style.color]="'#66FCF1'" class="links">
      <span><a [routerLink]="['/landing']">dashboard</a></span>
      <span><a [routerLink]="['/schedule']">schedule</a></span>
      <span><a style="cursor: pointer;" (click)="logout()">log out</a></span>
  
    </div>
</mat-toolbar>

<app-dashboard></app-dashboard>
<assigned-games></assigned-games> 
<upcominggames></upcominggames>
<recentgames></recentgames>
