<div>
  <p class="today">{{today}}: All Games on as scheduled.</p>
</div>


<div class="landing-container">
    <mat-grid-list cols="12" rowHeight="18vh" gutterSize="5vw">
      <mat-grid-tile colspan="3" rowspan="2" class="weather" style="background-color: #1F2833;">
          <mat-grid-list cols="6" rowHeight="7vh" class="weatherList">
            <mat-grid-tile colspan="6" rowspan="2" class="weatherTile">
              <h2 style="margin-left: 1vh;">Omaha , Nebraska</h2>
            </mat-grid-tile>

            <mat-grid-tile colspan="3" rowspan="2" class="weatherTile">
              <h1 class="temp" >56°</h1>
            </mat-grid-tile>

            <mat-grid-tile colspan="3" rowspan="2" class="weatherTile">
              <img src="../../../../assets/113.png" class = "weatherIcon">
            </mat-grid-tile>

            <mat-grid-tile colspan="3" rowspan="1" class="weatherTile">
              <h5 style="margin-left: 1vh;">High: 56°</h5>
            </mat-grid-tile>

            <mat-grid-tile colspan="3" rowspan="1" class="weatherTile">
              <h5 style="margin-left: 2vh;">Low: 56°</h5>
            </mat-grid-tile>


            <mat-grid-tile colspan="2" rowspan="1" class="weatherTile">
              <h6>Feels like: <br>5°</h6>
            </mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="1" class="weatherTile">
              <h6>Wind: <br>1mph</h6>
            </mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="1" class="weatherTile">
              <h6>Humidity: <br>2%</h6>
            </mat-grid-tile>
          </mat-grid-list>
      </mat-grid-tile>
      <mat-grid-tile colspan="6" rowspan="2" class="profile" style="background-color: #1F2833;"> 
          <mat-grid-list cols="3" rowHeight="7vh" class="profileList">

            <mat-grid-tile colspan="1" rowspan="4" class="profileList">
              <img src="../../assets/img_avatar.png" alt="Avatar">
            </mat-grid-tile>

            <mat-grid-tile colspan="2" rowspan="1" class="profileList">
               <p class="gamesCompleted">Career Games Completed: <span class="number">98</span></p>
            </mat-grid-tile>

            <mat-grid-tile colspan="2" rowspan="3" class="profileList">
              <h2 class="name">Justin Rathbone</h2>
              <p class="certLevel"><i>2020 Certification Level:</i> Grade 8</p>
            </mat-grid-tile>
            
            <mat-grid-tile colspan="1" rowspan="2" class="stats">
              <h3>YTD Earnings: <br><h3 class="number">$134.54</h3></h3>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="2" class="stats">
              <h3>2020 Games Completed: <br><h3 class="number">24</h3></h3>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="2" class="stats">
              <h3>2020 Games Left: <br><h3 class="number">10</h3></h3>
            </mat-grid-tile>
          </mat-grid-list>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" rowspan="2" class="announcements" style="background-color: #1F2833;">
        <mat-grid-list cols="1" rowHeight="13vh" >
          <mat-grid-tile colspan="1" rowspan="1">
            <h6>Announcements</h6>
          </mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="2">
           <ul>
             <li>Aspen Park games postponed</li>
             <li>Cornhusker state games next week!</li>
             <li>Help needed at Spirit Park</li>
           </ul>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="mobile-landing-container">
  <mat-grid-list cols="2" rowHeight="15vh" gutterSize="2vh">
    <mat-grid-tile colspan="1" rowspan="2" style="background-color: #1F2833;">
      <mat-grid-list cols="2" rowHeight="5vh" gutterSize="10px" class="mobileProfile">
      
      <mat-grid-tile colspan="2" rowspan="2">
        <h5>Justin <br>Rathbone</h5>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <p class="gamesCompleted">Career Games:<br><span class="number">98</span></p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <p class="gamesCompleted">YTD Earnings:<br><span class="number">$89</span></p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <p class="gamesCompleted">2020 Games Left:<br><span class="number">12</span></p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <p class="gamesCompleted">2020 Games Done:<br><span class="number">52</span></p>
      </mat-grid-tile>
      </mat-grid-list> 
    </mat-grid-tile> 
    <mat-grid-tile colspan="1" rowspan="1" class="weatherMobile" style="background-color: #1F2833;">
      <mat-grid-list cols="4" rowHeight="5vh">
        <mat-grid-tile colspan="2" rowspan="2">
          <img src="../../../../assets/113.png" alt="my img" style="border: none;"/>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
          <h1>75°</h1>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <h6>High:<br>80°</h6>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <h6>Low:<br>56°</h6>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" style="background-color: #1F2833;">
     <mat-grid-list cols="1" rowHeight="4vh" class="announcementsMobile">
       <mat-grid-tile colspan="1" rowspan="1">
         <p style="font-size: 2vh;">Announcements</p>
       </mat-grid-tile>
       <mat-grid-tile colspan="1" rowspan="2">
        <ul>
          <li>Aspen Park games postponed</li>
          <li>Cornhusker state games next week!</li>
        </ul>
       </mat-grid-tile>
     </mat-grid-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!-- <div class="tablet-landing-container">
  <mat-grid-list cols="2" rowHeight="19vh" gutterSize="10px">
    <mat-grid-tile colspan="1" rowspan="2">
      <mat-grid-list cols="2" rowHeight="1.95:1" gutterSize="10px" class="mobileProfile">
      <mat-grid-tile colspan="1" rowspan="2">
        <img src="../../../../assets/img_avatar.png" alt="my img"/>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="2">
        <p>Justin Rathbone</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <p class="gamesCompleted">Career Games Completed: <span class="number">98</span></p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <p class="gamesCompleted">YTD Earnings: <span class="number">$89</span></p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <p class="gamesCompleted">2020 Games Left: <br> <span class="number">12</span></p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <p class="gamesCompleted">2020 Games Completed: <br> <span class="number">52</span></p>
      </mat-grid-tile>
      </mat-grid-list> 
    </mat-grid-tile> 
    <mat-grid-tile colspan="1" rowspan="1" class="weatherMobile">
      <mat-grid-list cols="4" rowHeight="5vh">
        <mat-grid-tile colspan="2" rowspan="2">
          <img src="../../../../assets/113.png" alt="my img" style="border: none;"/>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
          <h1>75°</h1>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <h6>High:<br>80°</h6>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <h6>Low:<br>56°</h6>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
     <mat-grid-list cols="1" rowHeight="4vh" class="announcementsMobile">
       <mat-grid-tile colspan="1" rowspan="1">
         <h6>Announcements</h6>
       </mat-grid-tile>
       <mat-grid-tile colspan="1" rowspan="2">
        <ul>
          <li>Aspen Park games postponed</li>
          <li>Cornhusker state games next week!</li>
        </ul>
       </mat-grid-tile>
     </mat-grid-list>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->