<mat-card>
    <mat-card-title>Sign Up</mat-card-title>
<mat-card-content>
  <form [formGroup]="signUpForm" (ngSubmit)="submit()">

      <p>
          <mat-form-field appearance="standard">
              <input type="text" matInput placeholder="Full Name" formControlName="fullName" style="color: black;" autofocus>
          </mat-form-field>
      </p>

    <p>
      <mat-form-field appearance="standard">
        <input type="email" matInput placeholder="Email" formControlName="email" style="color: black;">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="standard">
        <input type="password" matInput placeholder="password" formControlName="password" >
        <mat-hint align="start">Must be 10 characters</mat-hint>
      </mat-form-field>
    </p>

    <p style="color: red" *ngIf="signUpForm.invalid == true">Your form is not complete</p>

    <div class="button">
      <button type="button"  (click)="submit()" mat-raised-button color="accent">Sign Up</button>
    </div>

  </form>
</mat-card-content>
</mat-card>
