<div class="landing-container">
    <mat-grid-list cols="12" rowHeight="200px" gutterSize="100px">
      <mat-grid-tile colspan="3" rowspan="2">
          <div class="weather">
            <p>THE WEATHER PANEL</p>
          </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="6" rowspan="2" class="profile"> 
          <mat-grid-list cols="3" rowHeight="4:1" >

            <mat-grid-tile colspan="1" rowspan="4">
              <img src="../../assets/img_avatar.png" alt="Avatar">
            </mat-grid-tile>

            <mat-grid-tile colspan="2" rowspan="1" class="gamesCompleted">
               <p>Career Games Completed: <span class="number">22</span></p>
            </mat-grid-tile>

            <mat-grid-tile colspan="2" rowspan="3">LAYER 3</mat-grid-tile>
            
            <mat-grid-tile colspan="3" rowspan="2">LAYER 4</mat-grid-tile>
          </mat-grid-list>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" rowspan="2"> pee pee</mat-grid-tile>
  </mat-grid-list>
</div>