html, body { height: 100%; }

h2{
    color: #66fcf1;
    margin-bottom:1vh;
}

h1,h3,h5{
    color: #c5c6c7;
    margin-top: 0vh;
}

h5{
    position: absolute;
    top: 1vh;
}

h6{
    text-align: center;
    color: #c5c6c7;
}
img {
    border-radius: 50%;
    height: 75%;
    border: 4px solid #66fcf1;
}

mat-grid-list {
    width:95%;
    margin: 0 auto;
}

mat-grid-tile {
    border-radius: 15px;
    border: 1px solid #66fcf1;
    text-align: center;
}

.today {
    font-size: 3vh;
    color: #c5c6c7;
    width: 100%;
    text-align: center;
}
.landing-container{
    padding-top: 1vh;
}
.profileList{
    width:100%;
    margin-left: 0;
    color: #c5c6c7;
    border: none;
}

.weather {
    border-radius: 23px;
    width: 100%;
    height: 100%;
    box-shadow: 1px 3px 2px 3px #66fcf1;
}
.announcements{
    box-shadow: 1px 3px 2px 3px #66fcf1;
    color: #c5c6c7;
    font-size: 3vh;
}

.profile {
    width: 100%;
    margin-left:0;
    box-shadow: 1px 3px 2px 3px #66fcf1;
}

.number{
    color: #66fcf1;
    margin-top: 0px;
    text-align: center;
}


.gamesCompleted{
    
    font-size:28px;
}

.name{
    color: #66fcf1;
    font-size: 64px;
    position: absolute;
    left: 1%;
    top: -10%;
}
.certLevel{
    position: absolute;
    left: 5%;
    top: 50%;
    font-size: 20px;
}

mat-grid-tile .stats {
    color: #c5c6c7;
    margin-left: 0;
    border: none;
    font-size: 18px;
}

h6{
    text-align: center;
    color: #c5c6c7;
}

mat-grid-tile .weatherList{
    border: none;
    margin-left: 0;
}

.weatherIcon{
    border: none;
    height: 175px;
}
.weatherTile{
    border: none;
    font-size: 2.5vh;
    
}
.temp{
    font-size: 7vh;
    
}
.mobile-landing-container{
    display: none;
}

.announcements mat-grid-tile{
    border: none;
}

.announcements li{
    font-size: 3vh;
    margin: 1vh;
}

.announcements h6{
    font-size: 4vh;
}
.tablet-landing-container{
    display: none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    img {
        border-radius: 50%;
        max-width: 100%;
        height: auto;
        border: 2px solid #66fcf1;
    }
    p{
        color: #c5c6c7;
        font-size: 1.25vh;
    }
    h5{
        font-size: 3vh;
        color: #66fcf1;
    }

    .landing-container {
        display: none;
    }
    .mobile-landing-container{
        display: inherit;
    }
    .today{
        font-size: 1.5vh;
    }
    .mobileProfile mat-grid-tile{
        border: none;
        border-radius: 0%;
    }
    mat-grid-list{
        margin: 0 auto;
    }

    .mobileProfile p{
        font-size: 1.5vh;
        text-align: center;
    }


    .weatherMobile mat-grid-tile{
        border: none;
        border-radius: 0px;
        font-size: 3vh;
    }

    

    .weatherMobile h1{
        font-size: 3vh;
        margin-top: 1vh;
        color: #66fcf1;
    }

    .announcementsMobile li{
        color: #c5c6c7;
        font-size: 1.3vh;
        margin: 1vh;
    }

    .announcementsMobile mat-grid-tile{
        border: none;
    }
    
    
    .tablet-landing-container{
        display: none;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    img {
        border-radius: 50%;
        max-width: 100%;
        height: auto;
        border: 2px solid #66fcf1;
    }
    h5{
        font-size: 3vh;
        color: #66fcf1;
    }

    .landing-container {
        display: none;
    }
    .mobile-landing-container{
        display: inherit;
    }
    .today{
        font-size: 2vh;
    }
    .mobileProfile mat-grid-tile{
        border: none;
        border-radius: 0%;
    }


    .mobileProfile p{
        font-size: 2vh;
        text-align: center;
    }


    .weatherMobile mat-grid-tile{
        border: none;
        border-radius: 0px;
        font-size: 3vh;
        margin-top: 2px;
    }

    

    .weatherMobile h1{
        font-size: 3vh;
        margin-top: 1vh;
        color: #66fcf1;
    }

    .announcementsMobile li{
        color: #c5c6c7;
        font-size: 1.5vh;
        margin: 1vh;
    }

    .announcementsMobile mat-grid-tile{
        border: none;
    }
    
    
    .tablet-landing-container{
        display: none;
    }

    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 769px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

