<div>
  <p class="today">{{today}}: All Games on as scheduled.</p>
</div>


<div class="landing-container">
    <mat-grid-list cols="12" rowHeight="150px" gutterSize="100px">
      <mat-grid-tile colspan="3" rowspan="2" class="weather">
          <mat-grid-list cols="6" rowHeight=".95:1" class="weatherList">
            <mat-grid-tile colspan="6" rowspan="2" class="weatherTile">
              <h2>Omaha , Nebraska</h2>
            </mat-grid-tile>

            <mat-grid-tile colspan="3" rowspan="2" class="weatherTile">
              <h1 class="temp" >56°</h1>
            </mat-grid-tile>

            <mat-grid-tile colspan="3" rowspan="2" class="weatherTile">
              <img src="../../../../assets/113.png" class = "weatherIcon">
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1" class="weatherTile">
              <h5>High: <br>56°</h5>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1" class="weatherTile">
              
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1" class="weatherTile">
              <h5>Low: <br>56°</h5>
            </mat-grid-tile>
            
            <mat-grid-tile colspan="3" rowspan="1" class="weatherTile">
              <h3>windy</h3>
            </mat-grid-tile>

            <mat-grid-tile colspan="2" rowspan="1" class="weatherTile">
              <h6>Feels like: 5°</h6>
            </mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="1" class="weatherTile">
              <h6>Wind: 1mph</h6>
            </mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="1" class="weatherTile">
              <h6>Humidity: 2%</h6>
            </mat-grid-tile>
          </mat-grid-list>
      </mat-grid-tile>
      <mat-grid-tile colspan="6" rowspan="2" class="profile"> 
          <mat-grid-list cols="3" rowHeight="5:1" class="profileList">

            <mat-grid-tile colspan="1" rowspan="4" class="profileList">
              <img src="../../assets/img_avatar.png" alt="Avatar">
            </mat-grid-tile>

            <mat-grid-tile colspan="2" rowspan="1" class="profileList">
               <p class="gamesCompleted">Career Games Completed: <span class="number">98</span></p>
            </mat-grid-tile>

            <mat-grid-tile colspan="2" rowspan="3" class="profileList">
              <h2 class="name">Justin Rathbone</h2>
              <p class="certLevel"><i>2020 Certification Level:</i> Grade 8</p>
            </mat-grid-tile>
            
            <mat-grid-tile colspan="1" rowspan="2" class="stats">
              <h3>YTD Earnings: <br><h3 class="number">$134.54</h3></h3>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="2" class="stats">
              <h3>2020 Games Completed: <br><h3 class="number">24</h3></h3>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="2" class="stats">
              <h3>2020 Games Left: <br><h3 class="number">10</h3></h3>
            </mat-grid-tile>
          </mat-grid-list>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" rowspan="2" class="announcements">
        <h6>Announcements</h6>
      </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="mobile-landing-container">
  <mat-grid-list cols="2" rowHeight="100px" gutterSize="10px">
    <mat-grid-tile colspan="1" rowspan="2">
      <p>profile</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <p>profile</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <p>profile</p>
    </mat-grid-tile>
  </mat-grid-list>
</div>