<mat-toolbar color="primary" class="navbar">
  <div [style.color]="'#66FCF1'" class="logo"><a>myref.com</a></div>
  <div [style.color]="'#66FCF1'" class="links">
    <span><a [routerLink]="['/landing']">dashboard</a></span>
    <span><a [routerLink]="['/schedule']">schedule</a></span>
    <span><a style="cursor: pointer">log out</a></span>
  </div>
</mat-toolbar>

<div class="createGameButton">
  <button mat-raised-button color="accent" [routerLink]="['/create-new-game']">
    Create New Game
  </button>
</div>

<table mat-table [dataSource]="allGames" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Center">
    <th mat-header-cell *matHeaderCellDef>Center</th>
    <td mat-cell *matCellDef="let game">{{ game.centerReferee }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Asst. Ref 1">
    <th mat-header-cell *matHeaderCellDef>Asst. Ref 1</th>
    <td mat-cell *matCellDef="let game">{{ game.assistantReferee1 }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Asst. Ref 2">
    <th mat-header-cell *matHeaderCellDef>Asst. Ref 2</th>
    <td mat-cell *matCellDef="let game">{{ game.assistantreferee2 }}</td>
  </ng-container>

  <ng-container matColumnDef="Home Team">
    <th mat-header-cell *matHeaderCellDef>homeTeam</th>
    <td mat-cell *matCellDef="let game">{{ game.homeTeam }}</td>
  </ng-container>

  <ng-container matColumnDef="Away Team">
    <th mat-header-cell *matHeaderCellDef>awayTeam</th>
    <td mat-cell *matCellDef="let game">{{ game.awayTeam }}</td>
  </ng-container>

  <ng-container matColumnDef="Age Group">
    <th mat-header-cell *matHeaderCellDef>ageGroup</th>
    <td mat-cell *matCellDef="let game">{{ game.ageGroup }}</td>
  </ng-container>

  <ng-container matColumnDef="Location">
    <th mat-header-cell *matHeaderCellDef>location</th>
    <td mat-cell *matCellDef="let game">{{ game.location }}</td>
  </ng-container>

  <ng-container matColumnDef="Field #">
    <th mat-header-cell *matHeaderCellDef>fieldNumber</th>
    <td mat-cell *matCellDef="let game">{{ game.fieldNumber }}</td>
  </ng-container>

  <ng-container matColumnDef="DateTime">
    <th mat-header-cell *matHeaderCellDef>gameDate</th>
    <td mat-cell *matCellDef="let game">
      {{ game.gameDate | date: "medium" }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
