a[ng-reflect-router-link] {
  color: white;
  text-decoration: none;
  color: #66fcf1;
}

.navbar {
  justify-content: space-between;
}
span {
  padding-right: 1rem;
  padding-left: 2rem;
  margin-top: 4px;
}
.logo {
  padding-left: 2rem;
  font-size: 32px;
}

.form {
  color: white;
}

.container {
  width: 50%;
  margin: 5% auto;
  text-align: center;
  border: 3px solid #66fcf1;
  background-color: #f3f3f3;
  border-radius: 15px;
}

input {
  color: black;
}
button {
  margin: 5px auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 25%;
}
