<mat-toolbar color="primary" class="navbar">
  <div [style.color]="'#66FCF1'" class="logo"><a>myref.com</a></div>
  <div [style.color]="'#66FCF1'" class="links">
    <span><a [routerLink]="['/landing']">dashboard</a></span>
    <span><a [routerLink]="['/schedule']">schedule</a></span>
    <span><a style="cursor: pointer">log out</a></span>
  </div>
</mat-toolbar>

<div class="container">
  <form>
    <mat-form-field appearance="standard">
      <mat-label>Input</mat-label>
      <input type="text" matInput autofocus />
    </mat-form-field>
  </form>
  <button type="button" mat-raised-button color="accent">
    Create New Game
  </button>
</div>
